:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}
* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  text-decoration: none;
}
body {
  height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  padding: 2rem;
}
.header-content {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 10px gray;
}
/* .logo-icon {
  margin-top: 0.8rem;
} */
.logo-text {
  font-size: 2rem;
  font-weight: 800;
  color: black;
  font-family: sans-serif;
  /* margin-bottom: 10px; */
}
.nav {
  display: none;
}

.nav .nav-link {
  margin-left: 1.5rem;
  color: #393737;
  font-size: 0.965rem;
  font-weight: 400;
  transform: color 0.15;
}
.nav-link:hover {
  color: var(--link-color);
}
.logo-icon {
  color: var(--primary-color);
}

.contact {
  display: none;
  color: white;
  background-color: var(--primary-color);
  padding: 0.55rem 0.75rem;
  color: var(--background-color);
  border-radius: 0.375rem;
  font-size: 0.867rem;
  border: none;
  transform: all 0.1s;
}
.menu-btn {
  display: none;
  border-radius: 0.375rem;
  font-size: 0.867rem;
  border: none;
  padding: 0.55rem 0.75rem;
}
.menu-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.contact:hover {
  background-color: #5254f8;
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
  .nav {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}
.img1 {
  width: 30rem;
  height: 27rem;
  /* border-radius: 1.2rem; */
  /* margin-top: 2rem; */
  /* overflow: hidden; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.main-body {
  max-width: 1100px;
  margin: 0 auto;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 1.5rem;
  /* align-items: center; */
  /* padding: 1rem; */
}

.left-container {
  text-align: left;
  animation: slidefromleft 1s ease forwards;
  opacity: 0;
}
@keyframes slidefromleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.small-text {
  color: var(--primary-color);
  font-size: 0.965rem;
  font-weight: bold;
  margin-top: 1.2rem;
}
.head-text {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
  max-width: 500px;
  letter-spacing: 0.03rem;
}
.caption {
  max-width: 500px;
  font-family: sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.btn-row {
  margin-top: 2rem;
}
.btn {
  background-color: var(--primary-color);
  padding: 0.55rem 0.75rem;
  color: var(--background-color);
  border-radius: 0.375rem;
  font-size: 0.867rem;
  border: none;
  margin-right: 1rem;
  transform: all 0.1s;
}
.btn-1 {
  background-color: var(--dark-gray);
  padding: 0.55rem 0.75rem;
  color: var(--background-color);
  border-radius: 0.375rem;
  font-size: 0.867rem;
  border: none;
  /* margin-right: 1rem; */
  transform: all 0.1s;
}
.btn:hover {
  background-color: #5254f8;
}
.btn-1:hover {
  background-color: rgb(49, 51, 51);
}
.right-container {
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 58vh;
  border-radius: 1.2rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}

.hero-end {
  margin-top: 6rem;
  /* width: 50%; */
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  animation: slidefromleft 1s ease forwards;
}
.head {
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
}
.trusted-section {
  display: flex;
  justify-content: center;
  background-color: rgb(224, 222, 222);
  padding: 1rem;
  margin-left: 8.5rem;
  margin-right: 8.5rem;
}
.trusted-1 {
  display: flex;
  flex-direction: column;
  color: var(--dark-gray);
  margin-left: 1rem;
  font-size: 0.8rem;
}
.icon {
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .left-container {
    text-align: center;
    padding: 2rem;
  }
  .container {
    flex-direction: column;
  }
  .trusted-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0 auto;
  }
  .hero-end {
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
  }
  .head {
    margin-bottom: auto;
  }
}
.card {
  background-color: rgba(224, 222, 222, 0.962);
  margin: 2.5rem 0 1rem 0;
  padding: 0;
}
.card-body-1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 auto;
}
.card-head {
  padding-top: 3.6rem;
}
.card-heading {
  /* font-family: sans-serif; */
  font-size: 2.5rem;
  font-weight: 700;
  color: #302d2d;
  margin-bottom: 1rem;
}
.card-caption {
  text-align: center;
  font: 0.84em sans-serif;
  color: #393838;
  margin-bottom: 1rem;
}
.card-body-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-bottom: 2rem;
}
.cardss {
  padding: 2rem;
  margin: 0.68rem;
  border: none;
  border-radius: 0.4rem;
  color: var(--background-color);
}
.cardss:hover {
  transform: scale(1.05);
}
.cardss-1 {
  background-color: var(--link-color);
}
.card-icon-1 {
  /* background-color: var(--link-color); */
  color: var(--link-color);
}
.icon-div {
  display: inline;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 0.4rem;
  margin-bottom: 1rem;
}
.cardss-head {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
.cardss-2 {
  background-color: rgb(237, 50, 112);
}
.cardss-3 {
  background-color: rgb(240, 187, 28);
}
.cardss-4 {
  background-color: rgb(50, 133, 133);
}
.cardss-5 {
  background-color: green;
}
.cardss-6 {
  background-color: rgba(156, 38, 185, 0.871);
}
.card-icon-2 {
  color: rgb(237, 50, 112);
}
.card-icon-3 {
  color: rgb(240, 187, 28);
}
.card-icon-4 {
  color: rgb(50, 133, 133);
}
.card-icon-5 {
  color: green;
}
.card-icon-6 {
  color: rgba(156, 38, 185, 0.871);
}
@media screen and (max-width: 768px) {
  .card-body-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.testimonial-section {
  max-width: 1100px;
  margin: 1rem auto 2rem auto;
  padding: 0 auto;
  background-color: var(--background-color);

  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}
.testimonial-head {
  margin-top: 1rem;
}
.testimonial {
  margin-top: 1rem;
  /* border: 0.5px solid rgb(152, 150, 150); */
  border: none;
  padding: 0.8rem;
  margin: 0.4rem;
  border-radius: 4px;
  box-shadow: 0 0 4px rgb(122, 121, 121);
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.2rem;
  gap: 1rem;
}
.testimonial:hover {
  box-shadow: 0 0 10px rgb(187, 105, 187);
  border: 0.8px solid grey;
  transition: transform 0.3s ease;
  transform: scale(1.007);
}
.feedback {
  font-size: 0.8rem;
  font-weight: 700;
  /* margin-bottom: 0.67rem; */
}
.customers {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.names {
  color: rgba(156, 38, 185, 0.871);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
.passion {
  font-size: 0.73rem;
}
.newsletter-section {
  max-width: 1100px;
  margin: 2rem auto 2rem auto;
  padding: 0 auto;

  background-color: rgb(216, 213, 213);
}
.newletter {
  /* height: 20rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.new-img {
  object-fit: cover;
}
.form-right {
  text-align: left;
  padding: 2rem;
  display: flex;
  align-items: center;
  /* justify-content: center;  */
}
.form-head {
  color: rgb(137, 20, 200);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.65rem;
  font-weight: bolder;
  letter-spacing: 0.023rem;

  /* letter-spacing: 0.04rem; */
}
.label-head {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  margin-bottom: 0.0123rem;
}
.form-btn {
  background-color: rgb(137, 20, 200);
  padding: 0.34rem 0.9rem;
  border: 0.4px solid gray;
  border-radius: 3px;
  color: var(--light-gray);
  margin-left: 0.5rem;
}
.form-btn:hover {
  background-color: rgb(111, 15, 162);
}
input {
  padding: 0.3rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 2px;
}
.footer-new {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
.terms {
  color: var(--link-color);
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .newletter {
    display: grid;
    grid-template-columns: 1fr;
  }
  .form-right {
    /* text-align: center; */
    padding: auto;
    display: flex;
    align-items: center;
  }
}
.footer-section {
  max-width: 1100px;
  margin: 03rem auto;
  padding: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}
.footer-icon {
  color: rgb(111, 15, 162);
}
.anchor-footer {
  margin-bottom: 2rem;
  text-align: left;
}
.footer-text {
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}
.footer-caption {
  padding-top: 1.3rem;
  padding-bottom: 0.8rem;
  color: var(--dark-gray);
  font-size: 0.9rem;
}
.add-icon {
  color: #302d2d;
}
.icon-margin {
  margin-right: 0.4rem;
}
ul {
  list-style-type: none;
}
.footer-li {
  margin-bottom: 0.7rem;
  font-size: 0.92rem;
  color: rgb(61, 60, 60);
}
.footer-end-head {
  margin-bottom: 1rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: bold;
  font-size: 1.2rem;
}
.footer-li:hover {
  color: var(--link-color);
}
.footer-para {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 auto;
  border-top: 0.5px solid rgb(174, 171, 171);
}
.footer-para p {
  font-size: 1rem;
  color: #6e6c6c;
  margin-top: 1.2rem;
  word-spacing: 0.3rem;
  padding-bottom: 2rem;
}
